<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_shelf_barcode')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_shelf_barcode.barcode') -%> </th>
    <th><%= t('activerecord.attributes.inventory_shelf_barcode.inventory_shelf_group') -%> </th>
    <th><%= t('activerecord.attributes.inventory_shelf_barcode.shelf') -%> </th>
    <th><%= t('activerecord.attributes.inventory_shelf_barcode.created_at') -%> </th>
  </tr>

<%- @inventory_shelf_barcodes.each do |inventory_shelf_barcode| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= inventory_shelf_barcode.barcode -%> </td>
    <td>
      <%= inventory_shelf_barcode.inventory_shelf_group.name -%> 
      (<%= inventory_shelf_barcode.inventory_shelf_group.display_name -%>)
    </td>
    <td>
      <%= inventory_shelf_barcode.shelf.name -%> 
      (<%= inventory_shelf_barcode.shelf.display_name -%>)
    </td>
    <td><%= l(inventory_shelf_barcode.created_at) -%> </td>
  </tr>
<%- end -%> 
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory_shelf_barcode')), new_inventory_manage_inventory_shelf_barcode_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory_shelf_barcode_import_file')), url_for(:controller => :inventory_shelf_barcode_import_files, :action => :new, :inventory_manage_id => @inventory_manage_id)  -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.inventory_shelf_barcode_import_file')), url_for(:controller => :inventory_shelf_barcode_import_files, :action => :index, :inventory_manage_id => @inventory_manage_id) -%></li>
    <li><%= link_to t('page.output_shelf_barcode'), url_for(:action => :index, :format => :csv, :inventory_manage_id => @inventory_manage_id) -%></li>
    <br />
    <li><%= link_to t('page.back'), @inventory_manage -%></li>

  </ul>
</div>

