<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.finish', :model => t('activerecord.models.inventory_manage')) -%> </h1>
<div id="content_list">
<%= form_for(@inventory_manage, :url => {:action => 'finished'}) do |f| %>
  <%= f.error_messages %>

  <% if @inventory_manage.errors.empty? -%> 
    <%= I18n.t('inventory_page.confirm_message_complete_green') -%>
    <br />
    <br />
  <% end -%>
  <div class="actions">
    <% if @inventory_manage.errors.empty? -%> 
      <%= f.submit %>
    <% else %>
      <%= f.submit :onclick => "return confirm("+I18n.t('inventory_page.confirm_has_errors')+")" %>
    <% end %>
  </div>
<% end %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), @inventory_manage -%> </li>
    <!--
    <li><%= link_to t('page.back_to_index'), inventory_manages_path -%> </li>
    -->
  </ul>
</div>
