<h1>Listing inventory_shelf_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Display name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_shelf_groups.each do |inventory_shelf_group| %>
  <tr>
    <td><%= inventory_shelf_group.name %></td>
    <td><%= inventory_shelf_group.display_name %></td>
    <td><%= link_to 'Show', inventory_shelf_group %></td>
    <td><%= link_to 'Edit', edit_inventory_shelf_group_path(inventory_shelf_group) %></td>
    <td><%= link_to 'Destroy', inventory_shelf_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory shelf group', new_inventory_shelf_group_path %>
