<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inventory_shelf_group.name %>
</p>

<p>
  <b>Display name:</b>
  <%= @inventory_shelf_group.display_name %>
</p>


<%= link_to 'Edit', edit_inventory_shelf_group_path(@inventory_shelf_group) %> |
<%= link_to 'Back', inventory_shelf_groups_path %>
