<p id="notice"><%= notice %></p>

<p>
  <b>Inventory manage:</b>
  <%= @inventory_check_result.inventory_manage_id %>
</p>

<p>
  <b>Status 1:</b>
  <%= @inventory_check_result.status_1 %>
</p>

<p>
  <b>Status 2:</b>
  <%= @inventory_check_result.status_2 %>
</p>

<p>
  <b>Status 3:</b>
  <%= @inventory_check_result.status_3 %>
</p>

<p>
  <b>Status 4:</b>
  <%= @inventory_check_result.status_4 %>
</p>

<p>
  <b>Status 5:</b>
  <%= @inventory_check_result.status_5 %>
</p>

<p>
  <b>Status 6:</b>
  <%= @inventory_check_result.status_6 %>
</p>

<p>
  <b>Status 7:</b>
  <%= @inventory_check_result.status_7 %>
</p>

<p>
  <b>Status 8:</b>
  <%= @inventory_check_result.status_8 %>
</p>

<p>
  <b>Status 9:</b>
  <%= @inventory_check_result.status_9 %>
</p>


<%= link_to 'Edit', edit_inventory_check_result_path(@inventory_check_result) %> |
<%= link_to 'Back', inventory_check_results_path %>
