<p id="notice"><%= notice %></p>

<p>
  <b>Inventory shelf barcode import file:</b>
  <%= @inventory_shelf_barcode_import_result.inventory_shelf_barcode_import_file_id %>
</p>

<p>
  <b>User:</b>
  <%= @inventory_shelf_barcode_import_result.user_id %>
</p>

<p>
  <b>Body:</b>
  <%= @inventory_shelf_barcode_import_result.body %>
</p>

<p>
  <b>Error msg:</b>
  <%= @inventory_shelf_barcode_import_result.error_msg %>
</p>


<%= link_to 'Edit', edit_inventory_shelf_barcode_import_result_path(@inventory_shelf_barcode_import_result) %> |
<%= link_to 'Back', inventory_shelf_barcode_import_results_path %>
