<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_check_datum')) -%></h1>
<div id="content_list">

  <%= t('inventory_page.total_count') -%>:<%= @inventory_check_datum.count -%> &nbsp; &nbsp; 
  <%= t('inventory_page.count_of_item_identifier') -%>:<%= InventoryCheckDatum.count_items(@inventory_manage_id) -%> <br />

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_check_datum.readcode') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_datum.read_at') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_datum.created_at') -%> </th>
    <th></th>
  </tr>

<%- @inventory_check_datum.each do |inventory_check_data| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= link_to inventory_check_data.readcode, [@inventory_manage, inventory_check_data] -%> </td>
    <td>
    <% if inventory_check_data.read_at %>
    <%= l(inventory_check_data.read_at) -%> 
    <% else %>
      &nbsp;
    <% end %>
    </td>
    <td><%= l(inventory_check_data.created_at) -%> </td>
    <td><%= link_to t('page.destroy'), [@inventory_manage, inventory_check_data], :confirm => t('page.are_you_sure'), :method => :delete -%></td>
  </tr>
<%- end -%> 
</table>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory_check_datum')), new_inventory_manage_inventory_check_datum_path -%></li>
    <li><%= link_to t('page.new', :model => t('activerecord.models.inventory_check_data_import_file')), url_for(:controller => :inventory_check_data_import_files, :action => :new, :inventory_manage_id => @inventory_manage_id)  -%></li>
    <li><%= link_to t('page.listing', :model => t('activerecord.models.inventory_check_data_import_file')), url_for(:controller => :inventory_check_data_import_files, :action => :index, :inventory_manage_id => @inventory_manage_id)  -%></li>
    <br />
    <li><%= link_to t('page.back'), @inventory_manage -%></li>
 
  </ul>

</div>

