<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.showing', :model => t('activerecord.models.inventory_manage')) -%></h1>
<div id="content_list">

<p>
  <strong><%= t('activerecord.attributes.inventory_check_datum.id') -%> :</strong>
  <%= @inventory_check_datum.id -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.inventory_check_datum.readcode') -%> :</strong>
  <%= @inventory_check_datum.readcode -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.inventory_check_datum.shelf_name') -%> :</strong>
  <%= @inventory_check_datum.shelf_name -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.inventory_check_datum.shelf_flag') -%> :</strong>
  <%= @inventory_check_datum.shelf_flag -%> 
</p>

<p>
  <strong><%= t('activerecord.attributes.inventory_check_datum.created_at') -%> :</strong>
  <%= l(@inventory_check_datum.created_at) -%> 
</p>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), inventory_manage_inventory_check_data_path -%> </li>
  </ul>
</div>
