<%= form_for(@inventory_check_data_import_result) do |f| %>
  <% if @inventory_check_data_import_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_check_data_import_result.errors.count, "error") %> prohibited this inventory_check_data_import_result from being saved:</h2>

      <ul>
      <% @inventory_check_data_import_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inventory_check_data_import_file_id %><br />
    <%= f.number_field :inventory_check_data_import_file_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :error_msg %><br />
    <%= f.text_area :error_msg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
