<h1>Listing inventory_check_data_import_results</h1>

<table>
  <tr>
    <th>Inventory check data import file</th>
    <th>Body</th>
    <th>Error msg</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_check_data_import_results.each do |inventory_check_data_import_result| %>
  <tr>
    <td><%= inventory_check_data_import_result.inventory_check_data_import_file_id %></td>
    <td><%= inventory_check_data_import_result.body %></td>
    <td><%= inventory_check_data_import_result.error_msg %></td>
    <td><%= link_to 'Show', inventory_check_data_import_result %></td>
    <td><%= link_to 'Edit', edit_inventory_check_data_import_result_path(inventory_check_data_import_result) %></td>
    <td><%= link_to 'Destroy', inventory_check_data_import_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory check data import result', new_inventory_check_data_import_result_path %>
