<%= stylesheet_link_tag "enju_trunk_inventory/application", :media => "all" %>
<div id="content_detail_wide" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_check_result')) -%></h1>
<div id="content_list">

<script type="text/javascript">
function all_select_status_types() {
  $("#status_types_1").attr("checked", true);
  $("#status_types_2").attr("checked", true);
  $("#status_types_3").attr("checked", true);
  $("#status_types_4").attr("checked", true);
  $("#status_types_5").attr("checked", true);
  $("#status_types_6").attr("checked", true);
  $("#status_types_7").attr("checked", true);
  $("#status_types_8").attr("checked", true);
  $("#status_types_9").attr("checked", true);
}
function all_deselect_status_types() {
  $("#status_types_1").attr("checked", false);
  $("#status_types_2").attr("checked", false);
  $("#status_types_3").attr("checked", false);
  $("#status_types_4").attr("checked", false);
  $("#status_types_5").attr("checked", false);
  $("#status_types_6").attr("checked", false);
  $("#status_types_7").attr("checked", false);
  $("#status_types_8").attr("checked", false);
  $("#status_types_9").attr("checked", false);
}
function error_select_status_types() {
  $("#status_types_1").attr("checked", true);
  $("#status_types_5").attr("checked", true);
  $("#status_types_6").attr("checked", true);
  $("#status_types_7").attr("checked", true);
  $("#status_types_9").attr("checked", true);
}
</script>


  <%= form_tag({:action=>"index"}, {:method=>"get"}) do %>
  <div class="field">
    <b><%= t('activerecord.attributes.inventory_check_result.item_identifier') %></b>
    <%= text_field_tag 'item_identifier', @item_identifier %>
    &nbsp; <%= t('activerecord.attributes.inventory_check_result.description_item_identifier') %>
    <br />
    <b><%= t('activerecord.attributes.inventory_check_result.status') %></b>
    <%- @status_types.each do |status_type| -%>
      <%= check_box 'status_types', status_type.id, {:checked => @status_type_selected.include?(status_type.id.to_s)}, true, false %><%= status_type.display_name -%>
    <%- end -%>
    <%= button_to_function t('activerecord.attributes.inventory_check_result.all_select'), 'all_select_status_types();' -%>
    <%= button_to_function t('activerecord.attributes.inventory_check_result.all_deselect'), 'all_deselect_status_types();' -%>
    <%= button_to_function t('activerecord.attributes.inventory_check_result.error_select'), 'error_select_status_types();' -%>
    <br />
    <%= submit_tag t('inventory_page.search'), :name => 'search'  -%>
    <%= submit_tag t('activerecord.attributes.inventory_check_result.output_check_list'), :name => 'output_check_list' -%>
    <%= submit_tag t('activerecord.attributes.inventory_check_result.output_check_error_list'), :name => 'output_check_error_list' -%>
  </div>

<% end %>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_check_result.item_identifier') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_1') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_2') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_3') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_4') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_5') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_6') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_7') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_8') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_9') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.skip_flag') -%> </th>
  </tr>

<%- @inventory_check_results.each do |inventory_result| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= inventory_result.item_identifier -%> </td>
    <td class="inventory_result_mark"><p class="inventory_result_mark"><%= mark(inventory_result.status_1) -%></p></td>
    <td class="inventory_result_mark"><%= mark(inventory_result.status_2) -%> </td>
    <td class="inventory_result_mark"><%= mark(inventory_result.status_3) -%> </td>
    <td class="inventory_result_mark"><%= mark(inventory_result.status_4) -%> </td>
    <td class="inventory_result_mark"><p class="inventory_result_mark"><%= mark(inventory_result.status_5) -%></p></td>
    <td class="inventory_result_mark"><p class="inventory_result_mark"><%= mark(inventory_result.status_6) -%></p></td>
    <td class="inventory_result_mark"><p class="inventory_result_mark"><%= mark(inventory_result.status_7) -%></p></td>
    <td class="inventory_result_mark"><%= mark(inventory_result.status_8) -%> </td>
    <td class="inventory_result_mark"><p class="inventory_result_mark"><%= mark(inventory_result.status_9) -%></p></td>
    <td class="inventory_result_mark"><%= mark(inventory_result.skip_flag) -%> </td>
  </tr>
<%- end -%> 
</table>

</div>
</div>

</div>

