<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_manage')) -%></h1>
<div id="content_list">

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_check_result.item_identifier') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_1') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_2') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_3') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_4') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_5') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_6') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_7') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_8') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_9') -%> </th>
  </tr>

<%- @inventory_check_results.each do |inventory_result| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= inventory_result.item_identifier -%> </td>
    <td><%= inventory_result.status_1 -%> </td>
    <td><%= inventory_result.status_2 -%> </td>
    <td><%= inventory_result.status_3 -%> </td>
    <td><%= inventory_result.status_4 -%> </td>
    <td><%= inventory_result.status_5 -%> </td>
    <td><%= inventory_result.status_6 -%> </td>
    <td><%= inventory_result.status_7 -%> </td>
    <td><%= inventory_result.status_8 -%> </td>
    <td><%= inventory_result.status_9 -%> </td>
  </tr>
<%- end -%> 
</table>

</div>
</div>

</div>

