<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.inventory_manage')) -%></h1>
<div id="content_list">


<script type="text/javascript">
function all_select_status_types() {
  $("#status_types_1").attr("checked", true);
  $("#status_types_2").attr("checked", true);
  $("#status_types_3").attr("checked", true);
  $("#status_types_4").attr("checked", true);
  $("#status_types_5").attr("checked", true);
  $("#status_types_6").attr("checked", true);
  $("#status_types_7").attr("checked", true);
  $("#status_types_8").attr("checked", true);
  $("#status_types_9").attr("checked", true);
}
function all_deselect_status_types() {
  $("#status_types_1").attr("checked", false);
  $("#status_types_2").attr("checked", false);
  $("#status_types_3").attr("checked", false);
  $("#status_types_4").attr("checked", false);
  $("#status_types_5").attr("checked", false);
  $("#status_types_6").attr("checked", false);
  $("#status_types_7").attr("checked", false);
  $("#status_types_8").attr("checked", false);
  $("#status_types_9").attr("checked", false);
}
</script>


  <%= form_tag({:action=>"index"}, {:method=>"get"}) do %>
  <div class="field">
    <b><%= t('activerecord.attributes.inventory_check_result.item_identifier') %></b>
    <%= text_field_tag 'item_identifier' %>
    &nbsp; <%= t('activerecord.attributes.inventory_check_result.description_item_identifier') %>
    <br />
    <b><%= t('activerecord.attributes.inventory_check_result.status') %></b>
    <%- @status_types.each do |status_type| -%>
      <%= check_box 'status_types', status_type.id, {:checked => true}, true, false %><%= status_type.display_name -%>
    <%- end -%>
    <%= button_to_function t('activerecord.attributes.inventory_check_result.all_select'), 'all_select_status_types();' -%>
    <%= button_to_function t('activerecord.attributes.inventory_check_result.all_deselect'), 'all_deselect_status_types();' -%>
    <br />
    <%= submit_tag t('inventory_page.search')  -%>
  </div>

<% end %>

<table class="index">
  <tr>
    <th><%= t('activerecord.attributes.inventory_check_result.item_identifier') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_1') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_2') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_3') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_4') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_5') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_6') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_7') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_8') -%> </th>
    <th><%= t('activerecord.attributes.inventory_check_result.status_9') -%> </th>
  </tr>

<%- @inventory_check_results.each do |inventory_result| -%> 
  <tr class="line<%= cycle("0", "1") -%>">
    <td><%= inventory_result.item_identifier -%> </td>
    <td><%= inventory_result.status_1 -%> </td>
    <td><%= inventory_result.status_2 -%> </td>
    <td><%= inventory_result.status_3 -%> </td>
    <td><%= inventory_result.status_4 -%> </td>
    <td><%= inventory_result.status_5 -%> </td>
    <td><%= inventory_result.status_6 -%> </td>
    <td><%= inventory_result.status_7 -%> </td>
    <td><%= inventory_result.status_8 -%> </td>
    <td><%= inventory_result.status_9 -%> </td>
  </tr>
<%- end -%> 
</table>

</div>
</div>

</div>

