<h1>Listing inventory_check_data</h1>

<table>
  <tr>
    <th>Inventory manage</th>
    <th>Readcode</th>
    <th>Read at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_check_data.each do |inventory_check_datum| %>
  <tr>
    <td><%= inventory_check_datum.inventory_manage_id %></td>
    <td><%= inventory_check_datum.readcode %></td>
    <td><%= inventory_check_datum.read_at %></td>
    <td><%= link_to 'Show', inventory_check_datum %></td>
    <td><%= link_to 'Edit', edit_inventory_check_datum_path(inventory_check_datum) %></td>
    <td><%= link_to 'Destroy', inventory_check_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory check datum', new_inventory_check_datum_path %>
