<p id="notice"><%= notice %></p>

<p>
  <b>Inventory manage:</b>
  <%= @inventory_check_datum.inventory_manage_id %>
</p>

<p>
  <b>Readcode:</b>
  <%= @inventory_check_datum.readcode %>
</p>

<p>
  <b>Read at:</b>
  <%= @inventory_check_datum.read_at %>
</p>


<%= link_to 'Edit', edit_inventory_check_datum_path(@inventory_check_datum) %> |
<%= link_to 'Back', inventory_check_data_path %>
